<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Application de Librairie en Ligne"/>
    <meta name="author" content="Ange Carmel YORO"/>
    <title>MyBookStore</title>
    <!--&lt;!&ndash; Favicon &ndash;&gt;-->
    <!--<link href="./assets/img/brand/favicon.png" rel="icon" type="image/png">-->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <!-- Icons -->
    <link href="/css/nucleo.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- Argon CSS -->
    <link type="text/css" href="/css/argon.css?v=1.0.0" rel="stylesheet"/>
    <link type="text/css" href="/css/monStyle.css" rel="stylesheet"/>
<!--</head>-->

<body>

<div th:fragment="body-bottom-scripts">
    <!-- Core -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="/js/argon.js?v=1.0.0"></script>
</div>
</body>
</html>